<html>
<head>
  <meta charset="utf-8">
  <base href="">
  <title>Overseas Rabbit | 海外兔</title>
  {{ if not .Site.IsServer }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
</head>
<body>
  <div class="header-wrapper">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://osjobs.net">
          <strong>Overseas Rabbit | 海外兔</strong>
        </a>
        <a role="button" class="navbar-burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a target="_blank" href="https://osjobs.net/co/" class="navbar-item">求职课程</a>
          <a target="_blank" href="https://osjobs.net/topk/" class="navbar-item">高频面试题</a>
          <a target="_blank" href="https://osjobs.net/interview/" class="navbar-item">经验采访</a>
          <a target="_blank" href="https://osjobs.net/system/" class="navbar-item">系统设计</a>
          <a target="_blank" href="https://www.zhihu.com/people/Windson_Yang/posts?page=1" class="navbar-item">文章分享</a>
        </div>
      </div>
    </nav>
  </div>


