<html>
<head>
  <meta charset="utf-8">
  <base href="">
  <title>Overseas Rabbit | 海外兔</title>
</head>
<body>
  <div class="header-wrapper">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://osjobs.net">
          <strong>Overseas Rabbit | 海外兔</strong>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a target="_blank" href="https://co.osjobs.net" class="navbar-item">求职课程</a>
          <a target="_blank" href="https://osjobs.net/interview/" class="navbar-item">经验采访</a>
          <a target="_blank" href="https://tool.osjobs.net" class="navbar-item">简历工具</a>
          <a target="_blank" href="https://forum.osjobs.net" class="navbar-item">交流论坛</a>
        </div>
      </div>
    </nav>
  </div>


